* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    min-height: 100vh;
    color: whitesmoke;
    background-color: rgba(113,152,193,0.6);
    background-image: url("../images/chapel-7956274_1280.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 20px;
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(113,152,193,0.6);
    padding: 10px 20px;
    width: 100vw;

}
nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
    padding: 0;
} 

nav li a {

    text-decoration: none;
    height:40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:4px;
    padding:10px;
}
button {
    height:40px;
    width: auto;
    padding:10px;
    background-color: blue;
    border-radius: 4px;
    text-align: center;
    color: whitesmoke; 
    margin: 10px;
}
h3 {
    text-align: center;
}
footer {
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blanchedalmond;
    text-align: center;
}
.search-form {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.current-weather {
    text-align: center;
    margin-bottom: 20px;
}
img .current-weather {
    height: 50px;
    width: 50px;
}
.error {
    color: red;
    font-size: large;
    text-align: center;
    margin-left: 30px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 2rem auto ;
    max-width: 1000px;   
}
/* styling for each card */
.forecast-card {
    background-color: whitesmoke;
    opacity: .8;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}
.forecast-card h4 {
    color: red;
}
.daily-temp {
    color: red;
    size: 1rem;
    font-weight: bold;
}
img .icon {
    width: 40px;
    height: 40px;
}
.forecast-temp {
    font-size: 1.5rem;
    font-weight: bold ;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #7198c1; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.user-login {
    margin-top: 10px;
    margin-bottom: 10px;
}
.about, .comments, .register, .login, .posts, .single-post, .new-post {
    color:black;
    background-color: rgba(113,152,193,0.6);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    
  
  
}
.about h1, .comments h1, .register h1, .login h1 {
    margin: 20px;
    text-align: center;
}
.register button, .login button {
    margin-top: 20px;
    background-color: blue;
}
.post {
    background-color:  rgba(113,152,193,0.6) ;
    
}
/* Tablets: 3 cards per row */
@media (max-width: 992px) {
    .forecast-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Small tablets & phones: 2 cards per row */
  @media (max-width: 768px) {
    .forecast-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Small phones: 1 card per row */
  @media (max-width: 480px) {
    .forecast-container {
      grid-template-columns: 1fr;
    }
  }
  