{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}

<section class="about">
<h1>About Weather App</h1>
<p>I created this Weather App after completing a Python course with <a href="https://www.shecodes.io/" alt="linked to SheCodes" >SheCodes</a>. The weather app was a requirement to complete the class, however, it was only available in the terminal. I wanted to show the evolution of the weather apps I've worked on; from JavaScript to React and now Python with Django.</p>   
<br />
<p>Please check out my <a href="https://amyrowell.dev" alt="link to portfolio page" target="_blank">developer portfolio</a> page or my <a href="https://github.com/amy-maria?tab=repositories" alt="Link to GitHub account" target="_blank">GitHub</a> account for additional projects.</p>
</section>    

{% endblock %}

