<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <script src="{% static 'js/main.js' %}" defer></script>
   
    <title>
        {% block title %}
        Weather App
        {% endblock %}

    </title>
</head>
<body>
    <nav>
        <a href="/"><span title="Home" role='img' aria-label="Home">🏠</span></a>
        <a href="/about"><span title="About" role='img' aria-label="About">💡</span></a>
        <a href="{% url 'posts:list' %}"><span title="Posts" role="img" aria-label="posts">📰</span></a>
        |
        {% if user.is_authenticated %}
            <a href="{% url 'posts:new-post' %}"><span title="New Post" role="img" aria-label="New Post">🆕</span></a>
        
            <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-button" aria-label="logout" title="logout">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'users:register' %}"><span title="User Account" role="img" aria-label="User Account">👤</span></a>
            
            <a href="{% url 'users:login' %}"><button><span title="User Login" role="img" aria-label="User Login">Login</span></button></a>
        {% endif %}
    </nav>
    <main>
       
        {% block content %}

        {% endblock %}
    </main>
   
</body>
</html>