{% extends 'layout.html'%}

{% block title %}
    Comments
{% endblock %}

{% block content %}
    <section class="comments">
    <h1 class="comments">Comments </h1>
    <p> Create an account or login to post comments.</p>
    <br />

{% for post in posts %}

        <h2>
            <a href="{% url 'posts:page' slug=post.slug %}">
            {{post.title}}
            </a>
        </h2>
        <p>{{post.date}} by {{post.author}}</p>
        <p>{{post.body}}</p>
   

{% endfor %}
</section>    
{% endblock %}


