{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}

<section class="about">
<h1>Project Evolution</h1>
<p> This Weather Application showcases the intentional evolution of a concept across different technology stacks. 

By migrating this project from a basic Command Line Interface (CLI) to a full-stack framework, I wanted to visually and structurally demonstrate my adaptability across ecosystems.</p>

<h2>Core Architecture & Technical Milestones</h2>
<p>To improve this project from a classroom requirement to a production-ready application, I implemented several advanced practices:
<li>Dynamic API Integration: Asynchronous data-fetching layer to digest and map live, multi-day forecast payloads from third-party weather services.</li>

<li>Secure User Authentication: Utilized Django’s built-in authentication system to securely process user registrations, manage encrypted database sessions, and handle restricted routing.</li>

<li>Dual-Environment Database Strategy: Configured a dynamic database architecture that uses a lightweight local SQLite database for rapid development, which seamlessly bridges to a centralized SQL cluster upon cloud deployment.</li>

<li>Environment Security: Secured sensitive API tokens and credentials using decoupled environment variables (.env) to ensure repository safety and compliance with modern DevOps standards.</li>
</ul>
</p>


{% endblock %}

